{% extends "layout.html" %}
{% block content %}
  <div class="panel explorer">
    <div class="explorer-header">
      <div class="explorer-title">
        <h1>Backup {{ backup_name }}</h1>
        <div class="path">{{ backup_path }}</div>
      </div>
      <div class="explorer-actions">
        <a class="btn btn-secondary" href="{{ url_for('backup') }}">Voltar</a>
        <a class="btn" href="{{ url_for('backup_download', name=backup_name) }}">Download</a>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Arquivo</th>
          <th>Data</th>
          <th>Tamanho</th>
          <th>Acoes</th>
        </tr>
      </thead>
      <tbody>
        {% for item in files %}
          <tr>
            <td>{{ item.rel }}</td>
            <td>{{ item.mtime.strftime("%d/%m/%Y %H:%M:%S") }}</td>
            <td>{{ item.size_h }}</td>
            <td class="action-cell">
              {% if item.browse_path %}
                <a class="btn btn-secondary btn-small" href="{{ url_for('view', path=item.browse_path) }}">Visualizar</a>
                <a class="btn btn-small" href="{{ url_for('download', path=item.browse_path) }}">Download</a>
              {% else %}
                -
              {% endif %}
            </td>
          </tr>
        {% else %}
          <tr class="empty-row">
            <td colspan="4">Nenhum arquivo encontrado.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
